<%= render 'shared/header' %>
<%= stylesheet_link_tag "home" %>

<div class='home-content'>

    <h1>To access your schedule, please log in!</h1><br/>
    <a href="#"><h2>A link i needed to remove :)</h2></a>

</div>