<% if current_user %>
  <%if current_user.position == 'manager' %>
    <h1>New Shift</h1>

    <%= render 'form', shift: @shift %>
    <%= link_to 'Back', shifts_path %>
  <% else %>
    <%= link_to 'Back', root_path %>
    <h1>Your current access role prohibits you from viewing content on this page</h1>
  <% end %>
<% else %>
  <%= link_to 'Back', root_path %>
  <h1>Your current access role prohibits you from viewing content on this page</h1>
<% end %>